<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.countdown.css"> 
    <script type="text/javascript" src="../static/js/jquery.plugin.js"></script> 
    <script type="text/javascript" src="../static/js/jquery.countdown.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<API-KEY>&callback=initMap">
    </script>
</head>
<body>
    <header>
    </header>
    <nav></nav>
    <div class="welcome-message"><div class="alert alert-info"><strong>Info! </strong><span></span></div></div>
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 all-title">Source Station</div>
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 all-title">Destination Station</div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <section class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div>
                      <select class="btn btn-primary station-list source">
                      </select> 
                    </div>
                </section>
                <section class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div>
                      <select class="btn btn-primary station-list destination">
                      </select>
                    </div>
                </section>
                <section class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    <button class="btn btn-primary" type="button" id="go-button">Go!</button>
                </section>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <section class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <div class="realtime-title all-title">Realtime Departure time at <span></span> station</div><hr>
                    <div class="realtime-countdown all-title">Train Leaving in 
                        <span>
                        </span> seconds
                    </div>
                    <div class="jquery-realtime-countdown"></div>
                    <div class="realtime-dept">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Arriving in (Minutes)</th>
                                <th>Platform</th>
                                <th>Delay</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <section class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <div class="all-title">Trains from <span id="src-span"></span> to <span id="dest-span"></span></div>
                    <div class="train-info">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Departure time at Source</th>
                                <th>Source Station</th>
                                <th>Arrival time at Destination</th>
                                <th>Destination Station</th>
                                <th>Fare</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
            <aside class="col-md-12 col-sm-12 col-xs-12 col-lg-12 station-box realtime-box">
                <div class="name"><span></span></div>
                <div class="address"><span></span></div>
                <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                    <div>South Platform</div>
                    <ul class="south-platforms">
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                    <div>North Platform</div>
                    <ul class="north-pathforms">
                    </ul>
                </div>
                <div class="platinfo"><span></span></div>
                <div class="restaurants"><span></span></div>
                <div class="shopping"><span></span></div>
                <div class="attraction"><span></span></div>
            </aside>
            <aside class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div id="map"></div>
            </aside>
        </div>
    </div>
    <script>
        var srcAbbr;
        var destAbbr;
        var srcLat;
        var destLat;
        var srcLong;
        var destLong;
        var countdown = 0;
        var visits;

        if(localStorage.visits){
            localStorage.visits = Number(localStorage.visits)+1;
        }
        else{
            localStorage.visits = 1
        }

        $(".welcome-message span").text("Welcome to bart. You visited this site "+localStorage.visits+" times.")
        $.ajax({ 
             type: "GET",
             url: "/stations",
             success: function(data){ 
                var newHTML = $.map(JSON.parse(data), function(value) {
                    return('<option data-abbr="'+value.abbr+'" data-lat="'+value.gtfs_latitude+'" data-long="'+value.gtfs_longitude+'">' + value.name + '</option>');
                });
                $(".station-list").html(newHTML.join(""));   
             }
         });

        function ajaxCall(srcAbbr, destAbbr){

            $.ajax({ 
                    type: "GET",
                    url: "/trips",
                    data: {
                        source: srcAbbr,
                        dest: destAbbr
                    },
                    success: function(data){ 
                        tripData = JSON.parse(data)
                        countdown = tripData.etd[0].minutes * 60
                        // $('.jquery-realtime-countdown').countdown({until: "+"+countdown.toString()+"s"}); 
                        var newHTML = $.map(tripData.etd, function(value){
                            return('<tr><td><div class="col-md-4 col-sm-4 col-lg-4 col-xs-12"><span>'+value.minutes+'</span></div></td>'
                                +'<td><div class="col-md-4 col-sm-4 col-lg-4 col-xs-12"><span>'+value.platform+'</span></div></td>'
                                +'<td><div class="col-md-4 col-sm-4 col-lg-4 col-xs-12"><span>'+value.delay+'</span></div></td></tr>')
                        });

                        var newTrain = $.map(tripData.trip, function(value){
                            return('<tr><td>'+value['@origTimeMin']+' '+value['@origTimeDate']+'</td><td>'+value['@origin']+'</td> <td>'+value['@destTimeMin']+' '+value['@destTimeDate']+'</td><td>'+value['@destination']+'</td><td>'+value['@fare']+'</td></tr>')
                        })
                        $(".realtime-dept tbody").html(newHTML.join(""));
                        $(".train-info tbody").html(newTrain.join(""));
                    }
                });
        }
        function myCountdown(){
            countdown--;
            if(countdown<1 || isNaN(countdown)){
                $(".realtime-countdown span").text(0)
            }
            else{
                $(".realtime-countdown span").text(countdown)
            }
        }

        setInterval(myCountdown,1000)

        


        $(function(){
            $("#go-button").click(function(){
                var srcElement = $(".source option:selected");
                srcAbbr = srcElement.attr("data-abbr");
                srcLat = srcElement.attr("data-lat");
                srcLong = srcElement.attr("data-long");
                $(".realtime-title span").text(srcElement.val())

                var destElement = $(".destination option:selected");
                destAbbr = destElement.attr("data-abbr");
                destLat = destElement.attr("data-lat");
                destLong = destElement.attr("data-long");

                $("#src-span").text(srcElement.val())
                $("#dest-span").text(destElement.val())
                initMap()
                ajaxCall(srcAbbr, destAbbr)
            })
        })

        setInterval(function(){ajaxCall(srcAbbr,destAbbr)},30000)

        $(function(){
            $(".source").on('change', function(){
                var srcElement = $(".source option:selected");
                var abbr = srcElement.attr("data-abbr");

                $.ajax({ 
                     type: "GET",
                     url: "/station",
                     data: {
                        source: abbr
                     },
                     success: function(data){  
                        data = JSON.parse(data)
                        $(".station-box .name span").text(data.name)
                        $(".station-box .address span").text(data.address+', '+data.city+', '+data.county+', '+data.state+', '+data.zipcode)
                        $(".station-box .platinfo span").text(data.platform_info)
                        $(".station-box .restaurants span").html(data.food["#cdata-section"])
                        $(".station-box .shopping span").html(data.shopping["#cdata-section"])
                        $(".station-box .attraction span").html(data.attraction["#cdata-section"])
                        var newSPlatform = $.map(data.south_platforms.platform, function(value){
                            return('<li>'+value+'</li>')
                        });
                        var newNPlatform = $.map(data.north_platforms.platform, function(value){
                            return('<li>'+value+'</li>')
                        });

                        $(".south-platforms").html(newSPlatform.join(""));
                        $(".north-pathforms").html(newNPlatform.join(""));

                     }
                 });
            })
        });


        function initMap() {
          var directionsDisplay = new google.maps.DirectionsRenderer;
          var directionsService = new google.maps.DirectionsService;
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: parseFloat(srcLat), lng: parseFloat(srcLong)}
          });
          directionsDisplay.setMap(map);

          calculateAndDisplayRoute(directionsService, directionsDisplay);
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
          directionsService.route({
            origin: {lat: parseFloat(srcLat), lng: parseFloat(srcLong)},  // Haight.
            destination: {lat: parseFloat(destLat), lng: parseFloat(destLong)},  // Ocean Beach.
            // Note that Javascript allows us to access the constant
            // using square brackets and a string value as its
            // "property."
            travelMode: google.maps.TravelMode["TRANSIT"]
          }, function(response, status) {
            console.log(response)
            if (status == 'OK') {
              directionsDisplay.setDirections(response);
            } else {
              console.log(status);
            }
          });
        }

//         function initMap() {
//   var directionsDisplay = new google.maps.DirectionsRenderer;
//   var directionsService = new google.maps.DirectionsService;
//   var map = new google.maps.Map(document.getElementById('map'), {
//     zoom: 14,
//     center: {lat: 37.77, lng: -122.447}
//   });
//   directionsDisplay.setMap(map);

//   calculateAndDisplayRoute(directionsService, directionsDisplay);
//   // document.getElementById('mode').addEventListener('change', function() {
//   //   calculateAndDisplayRoute(directionsService, directionsDisplay);
//   // });
// }

// function calculateAndDisplayRoute(directionsService, directionsDisplay) {
//   // var selectedMode = document.getElementById('mode').value;
//   directionsService.route({
//     origin: {lat: 37.77, lng: -122.447},  // Haight.
//     destination: {lat: 37.768, lng: -122.511},  // Ocean Beach.
//     // Note that Javascript allows us to access the constant
//     // using square brackets and a string value as its
//     // "property."
//     travelMode: google.maps.TravelMode["TRANSIT"]
//   }, function(response, status) {
//     if (status == 'OK') {
//       directionsDisplay.setDirections(response);
//     } else {
//       window.alert('Directions request failed due to ' + status);
//     }
//   });
// }
         
    </script>
</body>
</html>
